body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/happy.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.main-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 0;
}

h2 {
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
